# 1. Basic Python

##  Basic Operators

Addition      : +


Substraction  : -


Multi.        : *


Devision      : /



Exponential   : **

## Types

1. **Integers**

In [44]:
a = 4
type(a)

int

2. **Floats**

In [10]:
b=2.44
type(b)

float

3. **Strings**

Its a sequence of characters.  Defind by ('  ') or ("  ").

In [71]:
String1='Hello How are you'
String2="I am Fine"
print(String1 + String2)

Hello How are youI am Fine

In [24]:
Str1, Str2 = 'hello', 'hi'
print(Str1 +'  '+ Str2)

hello  hi

4. **Complex Numbers**
Imaginary number i is represented as j.

In [37]:
z=2+3j
print(z.real, \
      z.imag)

2.0 3.0

In [38]:
z=2+3j
print(z.real, z.imag)

2.0 3.0

5. **Lists**

Its a sequence of objects, contains same type or different type

In [49]:
a=[1, 2.3, 'Hello']
print(a)
type(a)

[1, 2.3, 'Hello']

list

**Indexing in Lists**

[a,b,c,d g,f] has index

[0,1,2,3,4,5]

In [43]:
a=['a','b',3,5,6,'f','g','h','i']
print(a[0])
print(a[1:3])

a
['b', 3]

**Changing element in list**

In [47]:
a=['a','b',3,5,6,'f','g','h','i']
print(a)
a[0]=4
print(a)

['a', 'b', 3, 5, 6, 'f', 'g', 'h', 'i']
[4, 'b', 3, 5, 6, 'f', 'g', 'h', 'i']

**Adding elements to list : Append, extend, insert**


insert(index position, onject to add) : it insert object before the index position

In [59]:
a=['a','b',3,5,6,'f','g','h','i']
a.append(8)
print(a)



a.append([3,4])
print(a)



b=['c','d']
a.extend(b)
print(a)


b.insert(1,'hi')
print(b)

['a', 'b', 3, 5, 6, 'f', 'g', 'h', 'i', 8]
['a', 'b', 3, 5, 6, 'f', 'g', 'h', 'i', 8, [3, 4]]
['a', 'b', 3, 5, 6, 'f', 'g', 'h', 'i', 8, [3, 4], 'c', 'd']
['c', 'hi', 'd']

**Removing Elemets from list : remove, pop** 
remove(x) : removes element name x with first match
pop(i): removes i-th element

In [64]:
a=['a','b',3,5,6,'f','g','h','i']
a.remove('g')
print(a)
a.pop(3)
print(a)

['a', 'b', 3, 5, 6, 'f', 'h', 'i']
['a', 'b', 3, 6, 'f', 'h', 'i']

**Arranging elements in accending or decendind orders and reversing**

In [70]:
a=[1,2,3,4,5]
a.sort()
print(a)

a.sort(reverse=True)
print(a)

a=[1,2,6,9,5]
a.reverse()
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[5, 9, 6, 2, 1]

6. **Tuples**

They are also abject like list but cant be changed once created. It is created using () or without any bracket. It has same indexing as Lists. When you apply sort to tuple it becomes list as output.

In [87]:
a=('a','b',3,5,6,'f','g','h','i')
type(a)



print(a[4])
print(a[1:3])


b=1,2,6,9,5
print(type(b))
print (sorted(b))

6
('b', 3)
<class 'tuple'>
[1, 2, 5, 6, 9]

**Count and Index**

a.count(element)= number of times element repeated in a.

a.index(element)= gives index value of first occurence

In [86]:
a=[1,2,6,6,5]
print(a.count(6))
print(a.index(6))

2
2

7. **Dictionaries**

Its a obect like lists but this one is come with pair: keys-values. Its created using {}.

In [93]:
d={'Name' : 'Dipen',
  'country' : 'India',
  'Age' : 34}

type(d)

print(d['Name'], d['Age'])

print(d.keys())

print(d.values())

print(d.items())

Dipen 34
dict_keys(['Name', 'country', 'Age'])
dict_values(['Dipen', 'India', 34])
dict_items([('Name', 'Dipen'), ('country', 'India'), ('Age', 34)])

8. **Sets**

Its an unordered collection of ofjects withous repetation. To create set we have to use function 'set([     ])'.

In [98]:
s=set(['a','b',3,4])
a=[1,2,2,3,4,23,1,3] #list

print(s)

b=set(a)
print(b)


print(b.union(s))
print(b.intersection(s))
print(b.difference(s))

{'b', 3, 4, 'a'}
{1, 2, 3, 4, 23}
{1, 2, 3, 4, 'b', 'a', 23}
{3, 4}
{1, 2, 23}

# 2. Control Flow

**If...elif....else**. Tab space is must for print

In [152]:
for i in range(1, 10):
 if i % 2 == 0: 
     print("%d is even" % i)
 elif i % 3 == 0:
     print("%d is multiple of 3" % i)
 else:
     print("%d is odd" % i)

1 is odd
2 is even
3 is multiple of 3
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is multiple of 3

**While**. This repeats the code untill condition do not match.

In [161]:
countdown=10
while countdown>=0:
    print(countdown)
    countdown-=1

10
9
8
7
6
5
4
3
2
1
0

**For.** While is used when we do not know in advance that how much time code witll be executed in future. If we know it then we use For.

In [162]:
countdown_list=[10,9,8,7,6,5,4,3,2,1]
for x in countdown_list:
    print(x)

10
9
8
7
6
5
4
3
2
1

**try... except.** In a loop we lnow that ceriatn values will cause problem, to except this error thsi loop is used.

In [177]:
try:
    for x in range(3,-1,-1):
        print('The reciprocal of {0} is {1}'.format(x, 1.0/x))
except ZeroDivisionError:
        print('cant divide by zero')

The reciprocal of 3 is 0.3333333333333333
The reciprocal of 2 is 0.5
The reciprocal of 1 is 1.0
cant divide by zero